<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telrik" value="https://nuget.telerik.com/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Telrik> <!--package src name-->
      <add key="Username" value="chris.mcgorty2@redcross.org" />
      <add key="ClearTextPassword" value="TrustNoOne@1960" />
    </Telrik>
  </packageSourceCredentials>
</configuration>